# Python
__pycache__/
*.py[cod]

# Test / coverage
.coverage
.pytest_cache/
htmlcov/

# Virtual environment
.venv/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Tool caches
.mypy_cache/
.ruff_cache/

# Editor
.idea/
.vscode/
*.swp
